.wrap {
  width: 100%;
  height: auto;

  * {
    box-sizing: border-box;
  }
}

.inner {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

// TOP
.top {
  display: flex;
  justify-content: end;

  .btn_box {
    width: 150px;
  }
}

// MIDDLE
.middle {
  .inner {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    .inp_box {
      display: flex;
      align-items: center;
      gap: 10px;

      .label {
        display: inline-block;
        font-weight: 500;
        font-size: var(--fs-18);
        margin-bottom: 5px;
      }

      .inp {
        width: 600px;
      }
    }
  }
}

// BOTTOM
.bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.card_wrap {
  width: 100%;
  display: flex;
  justify-content: center;

  .card_box {
  }
  .no_data {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    border-top: 2px solid var(--gray-800);
    border-bottom: 2px solid var(--gray-800);
    color: var(--gray-800);
  }
}
