.wrap {
  width: 100%;
  height: auto;
  max-height: 700px;
  overflow-x: hidden;
  overflow-y: scroll;

  * {
    box-sizing: border-box;
  }

  .section {
    padding: 10px;
    background-color: var(--mbackgroundColor);

    .inner {
      width: 100%;
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;

      .inp_box,
      .btn_box {
        width: 100%;
      }

      .flexbox {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
      }

      .inp_box .label {
        display: inline-block;
        font-weight: 500;
        font-size: var(--fs-18);
        margin-bottom: 5px;
      }

      img {
        width: 320px !important;
        height: 320px !important;
      }
    }
  }
}
