/* 전체 컨테이너 스타일 */
.container {
  width: 100%;
  height: 100vh;
  background: black; /* 초기 배경 색상: 검정 */
  position: relative; /* 절대 위치 설정을 위한 기준 */
  overflow: hidden; /* 컨텐츠가 벗어날 경우 숨기기 */
  transition: background 0.5s ease-in-out; /* 배경색 변화 애니메이션 */
}

/* 배경이 까맣게 바뀐 상태 */
.blackBackground {
  background: black !important;
  transition: background 0.5s ease-in-out;
}

/* 이미지 애니메이션 설정 */
.image {
  width: 100%;
  height: 100%;
  background: url("/img/landing.png") no-repeat center center;
  background-size: cover;
  opacity: 0;
  filter: blur(10px);
  transition: opacity 1s ease-in-out, filter 3s ease-in-out;
}

/* 이미지가 로드되었을 때 스타일 */
.loaded .image {
  opacity: 1;
  filter: blur(0) contrast(1.8) brightness(1.2) saturate(1.5);
}

/* 타이틀 애니메이션 */
.title {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: var(--fs-48);
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 120%;
  color: var(--gray-200);
  text-align: center;
  position: absolute;
  top: 13%; /* 페이지 상단에 고정 */
  left: 50%;
  transform: translateX(-50%) translateY(-30px); /* 초기 상태: 상단에 가까운 위치 */
  opacity: 0; /* 초기 상태에서 타이틀은 보이지 않음 */
  transition: opacity 1s ease-in-out 1s; /* 애니메이션 */
  animation-fill-mode: forwards; /* 애니메이션 종료 후 마지막 상태 유지 */
}

.titleLoaded {
  opacity: 1; /* 로드된 후 타이틀은 보이도록 */
  visibility: visible; /* 화면에 표시 */
}

/* 버튼 스타일 */
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px 20px;
  background: transparent;
  border: 3px solid var(--gray-200);
  font-weight: 700;
  color: var(--gray-200);
  font-size: var(--fs-18);
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 10px;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in-out 1s, color 0.5s ease-in-out;
}

.loaded .button {
  opacity: 1;
  visibility: visible;
}

/* 버튼 호버 상태 */
.button:hover {
  animation: colorChange 1s infinite;
}

.button.left {
  left: 15%;
}

.button.right {
  right: 15%;
}

.button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  border-radius: 10px;
  z-index: -1;
}

.button:hover::after {
  transform: scaleX(1);
}

// 색상변경 애니메이션
@keyframes colorChange {
  0% {
    color: var(--gray-200);
  }
  50% {
    color: var(--gray-800);
  }
  100% {
    color: var(--gray-200);
  }
}
