/* 전체 컨테이너 스타일 */
.container {
  width: 100%;
  height: 100vh;
  background: black; /* 초기 배경 색상: 검정 */
  position: relative; /* 절대 위치 설정을 위한 기준 */
  overflow: hidden; /* 컨텐츠가 벗어날 경우 숨기기 */
  transition: background 0.5s ease-in-out; /* 배경색 변화 애니메이션 */
}

/* 배경이 까맣게 바뀐 상태 */
.blackBackground {
  background: black !important; /* 배경을 검정으로 설정 */
  transition: background 0.5s ease-in-out; /* 배경 색상 변화 애니메이션 */
}

/* 이미지 애니메이션 설정 */
.image {
  width: 100%;
  height: 100%;
  background: url("/img/landing.png") no-repeat center center;
  background-size: cover; /* 이미지가 전체 영역을 덮도록 설정 */
  opacity: 0; /* 초기 상태에서 이미지 투명 */
  filter: blur(10px); /* 흐릿한 이미지로 시작 */
  transition: opacity 1s ease-in-out, filter 3s ease-in-out; /* 전환 효과 */
}

/* 이미지가 로드되었을 때 스타일 */
.loaded .image {
  opacity: 1; /* 이미지가 로드되면 완전히 보이도록 */
  filter: blur(0) contrast(1.8) brightness(1.2) saturate(1.5); /* 선명도 및 색상 강화 */
}

/* 버튼 스타일 */
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 50%; /* 화면 중앙에 위치 */
  transform: translateY(-50%); /* 중앙 정렬을 위해 Y축으로 50% 이동 */
  padding: 10px 20px;
  background: transparent; /* 배경은 투명 */
  border: 3px solid var(--gray-200); /* 흰색 테두리 */
  font-weight: 700; /* 글씨 두께 */
  color: var(--gray-200); /* 기본 글자 색상: 흰색 */
  font-size: var(--fs-18); /* 폰트 사이즈 */
  cursor: pointer; /* 커서가 포인터로 변경 */
  text-transform: uppercase; /* 글자를 대문자로 변환 */
  letter-spacing: 1px; /* 글자 사이 간격 */
  border-radius: 10px; /* 둥근 모서리 */
  z-index: 2; /* 버튼이 배경보다 위에 오도록 설정 */
  opacity: 0; /* 초기 상태에서 버튼은 보이지 않음 */
  visibility: hidden; /* 화면에 표시되지 않음 */
  transition: opacity 1s ease-in-out 1s, color 0.5s ease-in-out; /* 색상 변경과 투명도에 대한 애니메이션 */
  letter-spacing: 2px;
}

/* 이미지가 로드된 후 버튼 스타일 */
.loaded .button {
  opacity: 1; /* 버튼이 로드되면 보이도록 */
  visibility: visible; /* 화면에 표시 */
}

/* 버튼 호버 상태 */
.button:hover {
  animation: colorChange 1s infinite; /* 색상 변화 애니메이션 적용 */
}

/* 왼쪽 버튼 위치 */
.button.left {
  left: 15%; /* 왼쪽에서 15% 위치 */
}

/* 오른쪽 버튼 위치 */
.button.right {
  right: 15%; /* 오른쪽에서 15% 위치 */
}

/* 버튼 호버 애니메이션: 버튼 배경 확장 */
.button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff; /* 배경색은 흰색 */
  transform: scaleX(0); /* 초기 상태에서는 보이지 않음 */
  transition: transform 0.5s ease-in-out; /* 애니메이션 효과 */
  border-radius: 10px; /* 둥근 모서리 */
  z-index: -1; /* 배경이 버튼 뒤에 오도록 설정 */
}

/* 버튼 호버 시 배경 확장 */
.button:hover::after {
  transform: scaleX(1); /* 호버 시 배경이 확장됨 */
}

/* 색상 변화 애니메이션 */
@keyframes colorChange {
  0% {
    color: var(--gray-200); /* 흰색 */
  }
  50% {
    color: var(--gray-800); /* 검정색 */
  }
  100% {
    color: var(--gray-200); /* 흰색 */
  }
}
