@charset "UTF-8";
@import url("reset.css");

@font-face {
  font-family: "scdream";
  src: url("../fonts/SCDream/SCDream3.woff") format("woff2");
  font-style: normal;
}

:root {
  // font-size
  --fs-12: 1.2rem;
  --fs-14: 1.4rem;
  --fs-16: 1.6rem;
  --fs-18: 1.8rem;
  --fs-20: 2rem;
  --fs-22: 2.2rem;
  --fs-24: 2.4rem;
  --fs-26: 2.6rem;
  --fs-28: 2.8rem;
  --fs-30: 3rem;
  --fs-32: 3.2rem;
  --fs-34: 3.4rem;
  --fs-36: 3.6rem;
  --fs-38: 3.8rem;
  --fs-40: 4rem;
  --fs-42: 4.2rem;
  --fs-44: 4.4rem;
  --fs-46: 4.6rem;
  --fs-48: 4.8rem;
  --fs-50: 5rem;
  --fs-52: 5.2rem;
  --fs-54: 5.4rem;
  --fs-56: 5.6rem;
  --fs-58: 5.8rem;
  --fs-60: 6rem;
  --fs-80: 8rem;

  // border-radius
  --br-2: 2px;
  --br-3: 3px;
  --br-5: 5px;
  --br-6: 6px;
  --br-8: 8px;
  --br-10: 10px;
  --br-12: 12px;
  --br-14: 14px;
  --br-16: 16px;
  --br-30: 30px;
  --br-50: 50px;
  --br-50pro: 50%;

  // gray scale
  --gray-100: #fff;
  --gray-200: #f8f8f8;
  --gray-300: #efefef;
  --gray-400: #d3d3d3;
  --gray-500: #cccccc;
  --gray-600: #999;
  --gray-700: #666;
  --gray-800: #555;
  --gray-900: #333;
  --gray-1000: #111;

  // main color
  --mcolor: #236cdf;
  --mbackgroundColor: #f2f5fa;

  // sub blue color
  --sblue01: #7f96ae;
  --sblue02: #3377ff;
  --sblue03: #003b56;
  --sblue04: #3b6ce9;
  --sblue05: #59c3c4;
  --sblue06: #479fa0;
  --sblue07: #f6f8fa;

  // autoAlert
  --error: #eb003b;
  --warning: #ffb724;
  --info: #2768ff;
  --success: #008a1e;

  // chart : 번호 순서대로 색상 표기
  --chart1: #ff6287;
  --chart2: #ffbf45;
  --chart3: #5bc3aa;
  --chart4: #3e7cf3;
  --chart5: #bea2fc;
  --chart6: #a6e440;
  --chart7: #69aeff;
  --chart8: #ffa450;
  --chart9: #a054b9;
  --chart10: #9fc5e8;
  --chart11: #8085e9;
  --chart12: #f487cf;
  --chart13: #23408a;
  --chart14: #b5bfd3;

  // form
  --form-white-border-color: #dfe0e4;
  --form-white-outline-color: #dfe0e4;
  --form-hover-border-color: #2768ff;
  --form-hover-outline-color: #2768ff;
  --form-white-focus-border-color: #1f53cc;
  --form-white-focus-outline-color: #1f53cc;
  --form-white-bg-color: #fff;
  --form-white-text-color: #111;
  --form-disabled-bg-color: #e5eaf0;
  --form-disabled-text-color: #666666;
  --form-disabled-border-color: #d3d3d3;
  --form-disabled-outline-color: #d3d3d3;
  --form-error-bg-color: #feecf0;
  --form-error-text-color: #d50136;
  --form-error-border-color: #eb003b;
  --form-success-text-color: rgba(0, 110, 24, 1);
  --form-success-bg-color: #eef7f0;
  --form-success-border-color: #008a1e;
  --radio-and-checkbox-select-color: #3e7cf3;
  --radio-and-checkbox-unselect-color: #999;
  --radio-and-checkbox-disabled-bg-color: #eeeeee;
  --radio-and-checkbox-disabled-border-color: #cccccc;
}

html,
body {
  font-weight: 400;
  word-break: keep-all;
}

html {
  font-size: 62.5%;
  color: var(--gray-1000);
  line-height: 1em;
}

body {
  font-size: var(--fs-16);
  font-family: var(--font-scdream) !important;
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
}

body * {
  font-family: var(--font-scdream) !important;
}

img {
  display: block;
  width: 100%;
}
a {
  text-decoration: none;
  color: #111;
}
.pc {
  display: block !important;
}
.mobile {
  display: none !important;
}

// 웹 표준
.screen_out {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0); /* 구형 브라우저를 위해 사용 */
  clip-path: polygon(0 0, 0 0, 0 0); /* inset(50%) 와 동일한 표현 */
  border: 0;
}
// 접근성 필수입력
.essential {
  color: var(--error);
  margin-left: 6px;
}
