.chip {
  width: fit-content;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--gray-100);
  color: var(--gray-1000);
  box-sizing: border-box;
  position: relative;
  gap: 0.6rem;
  padding: 0.6rem;
  border: 1px solid var(--gray-400);
  font-weight: 500;

  &.parentFit {
    width: 100%;
    justify-content: center;
  }

  &.no_cursor {
    cursor: default !important;
  }
  &.cursor {
    &:hover {
      background-color: var(--gray-300);
    }
  }

  /* size (sm 기본) */
  &.xsm {
    height: 2.8rem;
    font-size: var(--fs-14);
  }
  &.sm {
    // 기본 size
    height: 3rem;
    font-size: var(--fs-14);
  }
  &.md {
    height: 4.4rem;
    font-size: var(--fs-14);
  }
  &.lg {
    height: 5.6rem;
    font-size: var(--fs-18);
  }
  &.xlg {
    height: 6.4rem;
    font-size: var(--fs-18);
  }

  /* color */
  &.white {
    border: 1px solid var(--gray-400);
    color: #111;
  }
  &.blue {
    border: 1px solid var(--mcolor);
    color: var(--mcolor);
  }
  &.disabled {
    border: solid 1px var(--gray-300) !important;
    background-color: var(--radio-and-checkbox-disabled-bg-color) !important;
    color: #666 !important;
  }

  /* border */
  &.br_square_round_1 {
    border-radius: var(--br-3);
  }
  &.br_square_round_2 {
    &.xsm {
      border-radius: var(--br-6);
    }
    &.sm {
      border-radius: var(--br-6);
    }
    &.md {
      border-radius: var(--br-6);
    }
    &.lg {
      border-radius: var(--br-6);
    }
    &.xlg {
      border-radius: var(--br-6);
    }
  }
  &.br_round {
    border-radius: var(--br-50);
  }
}

// 반응형
// 모바일
@media screen and (max-width: 768px) {
  input.inp {
    font-size: var(--fs-14);
  }
}
